.hero{

height:100vh;

background:
linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
url("/assets/stickers/konaseema.jpeg");

background-size:cover;
background-position:center;

}

.glow{
text-shadow:0 0 20px #ffd700;
}

.typing-box{

background:white;
border-radius:10px;
min-height:120px;

}

img{
transition:0.4s;
}

img:hover{
transform:scale(1.05);
}